[Unit]
Description=Run RSS to Kobo for %i daily

[Timer]
# Run daily at 6 AM
OnCalendar=*-*-* 06:00:00

# If the system was off, run the service as soon as possible after boot
Persistent=true

# Allow running multiple instances if the previous one is still running
WakeSystem=false

[Install]
WantedBy=timers.target
